body {
    font-family: arial;
    background-color: LightGrey;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-family: 'arial';
    text-align: center;
}

.game {
    background-color: LightGrey;
    padding: 10px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    margin: auto;
    display: table;
}

.statusPanel {
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    background-color: LightGrey;
    margin-bottom: 10px;
    padding-bottom: 1px;
}

.counter {
    width: 36px;
    background-color: Black;
    color: red;
    border: 2px black solid;
    box-sizing: border-box;
    font-family: digital;
    font-size: 18px;
    font-weight: bold;
    height: 22px;
    padding: 2px;
    text-align: center;
}

.minesCounter {
    float: left;
}

.timer {
    float: right;
}

.smily {
    width: 22px;
    height: 22px;
    margin: auto;
}

.happy {
    background: url('content/images/smily_sprite.jpg') 0 0;
    background-size: 44px;
    background-repeat: no-repeat;
}

.shocked {
    background: url('content/images/smily_sprite.jpg') -21px 0;
    background-size: 44px;
    background-repeat: no-repeat;
}

.sunny {
    background: url('content/images/smily_sprite.jpg') 0 -21px;
    background-size: 44px;
    background-repeat: no-repeat;
}

.sad {
    background: url('content/images/smily_sprite.jpg') -21px -21px;
    background-size: 44px;
    background-repeat: no-repeat;
}

.board{
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: auto;
    display: table;
}

.row {
    height: 20px;
}

.cell {
    width: 20px;
    height: 20px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    vertical-align: top;
}

.open {
    background-color: LightGrey;
    border: 1px solid DarkGrey;
}

.closed {
    background-color: lightGrey;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
}

.flag {
    background-image: url('content/images/flag.png');
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
}

.mine {
    background-image: url('content/images/mine.gif');
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
}

.qmark:after {
    content: '?';
}

.bomb {
    background-color: red;
}

.mistake:after {
    content: 'X';
    color: red;
}

.number1 {
    color: RoyalBlue;
}

.number2 {
    color: LimeGreen;
}

.number3 {
    color: Red;
}

.number4 {
    color: DarkBlue;
}

.number5 {
    color: Brown;
}

.number6 {
    color: DarkCyan;
}

.number7 {
    color: Black;
}

.number8 {
    color: Silver;
}

@media only screen and (max-width: 480px){
    .cell {
        width: 30px;
        height: 30px;
        font-size: 24px;
    }

    .row {
        height: 30px;
    }
    .flag {
            background-size: 20px;
    }

    .mine {
        background-size: 20px;
    }
    .counter {
        width: 40px;
        font-size: 28px;
        height: 30px;
    }
    .smily {
        width: 30px;
        height: 30px;
    }
    .happy {
        background: url('content/images/smily_sprite.jpg') 0 0;
        background-size: 60px;
    }

    .shocked {
        background: url('content/images/smily_sprite.jpg') -29px 0;
        background-size: 60px;
    }

    .sunny {
        background: url('content/images/smily_sprite.jpg') 0 -29px;
        background-size: 60px;
    }

    .sad {
        background: url('content/images/smily_sprite.jpg') -29px -29px;
        background-size: 60px;
    }
}

@font-face {
    font-family: digital;
    src: url(content/fonts/digital.ttf);
}